:root {
  --color-1: #9e1425;
  --color-2: #e06506;
  --color-2-rgba: rgba(224, 101, 6, 0.7);
  --color-3: #a53709;
  --color-4: #7a1304;
  --color-5: #680f02;
  --color-6: #670b17;
  --color-7: #770a2b;
  --color-8: #bf2051;
  --color-9: #e5004f;
  --color-10: #e8462f;
  --color-11: #f29200;

  --ff-light: "BrokmanLight";
  --ff-regular: "BrokmanRegular";
  --ff-medium: "BrokmanMedium";
  --ff-bold: "BrokmanBold";

  --altura-header: 100px;
}
